<% if @subsidiaries.empty? %>
  <span>Nenhuma filial cadastrada</span>
<% else %>
  <% @subsidiaries.each do |subsidiary| %>
    <%= link_to subsidiary.name, subsidiary_path(subsidiary.id) %>
  <% end %>
<% end %>

<%= link_to  "Voltar", root_path %>